@import url(https://fonts.googleapis.com/css?family=Heebo:regular,500,700,900&display=swap); // &subset=cyrillic-ext

@import "variables";
@import "blocks/header";
@import "blocks/footer";

// general styles
body {
    font-family: Heebo;
    line-height: 1.5;
    color: $dark;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

._container {
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: content-box;
    max-width: $maxWidthContainer;
}

._ibg {
    position: relative;

    img {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

.page {
    flex: 1 0 auto;
    padding: 90px 0px 0px 0px;

    @media (max-width: 767px) {
        padding: 24px 0px 0px 0px;
    }
}