// Переменные
$maxWidth: 1152px; // ширина всего макета
$maxWidthContainer: 856px;

$primary: #FF6464;
$secondary: #00A8CC;
$tertiary: #EDF7FA;
$dark: #21243D;
$light: #8695A4;
$black: #000000;
$year-bg: #142850;